# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.env
*.venv
*.spec
*.egg-info/
.env
.venv/
venv/
build/
dist/
*.egg
*.log

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# === Node / JS / Frontend ===
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
*.tsbuildinfo

# === VSCode / IDEs ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === OS / Misc ===
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp

# === Secrets / Configs ===
drive_service_account.json
drive_service_account_sara.json

# PyInstaller/Electron build output
dist/
build/

data/